* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--body--color);
  color: var(--text-color);
}

:root {
  --body--color: #111;
  --text-color: #fff;
  --second-color: #872222;
  --minute-color: #15908e;
  --hour-color: #570c6aa7;
  --size--xl: 110px;
  --size-l: 90px;
  --size-m: 70px;
  --size-s: 50px;
}

.digital {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 100px;
}

.time {
  font-size: var(--size--xl);
}

.colon {
  font-size: var(--size-l);
}

.date {
  font-size: var(--size-s);
}

.analog {
  position: relative;
  background-image: url(../assets/img/clock.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.hand {
  position: absolute;
  width: 13px;
  height: 135px;
  left: calc(50% - 5px);
  top: calc(25% - 5px);
  transform-origin: bottom;
  transform: rotate(0deg);
}

.hand::after {
  content: "";
  position: absolute;
  background-color: #264c92;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  top: -10px;
  left: -5px;
}

.point {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #111;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  z-index: 100;
  border-radius: 50%;
}

.hour-color {
  background-color: var(--hour-color);
}
.minute-color {
  background-color: var(--minute-color);
}
.second-color {
  background-color: var(--second-color);
}

/* cada 30deg son 5min */

/* .second-rotate {
  rotate: 6deg;
} */
